@font-face {
    font-family: "Symbola";
    src: url("i/symbola.ttf");
}
.cell{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size:50px;
    border: 1px solid black;
    font-family: Symbola;
    cursor: pointer;
    text-align: center;
}
.example{
    display: inline-block;
}
.enemy{
    margin-left: 30px;
}

.disclaimer{
    height:520px;
    width:520px;
    text-align: center;
    font-size: 100px;
    display: inline-block;
    float: right;
}

.names{
    font-size: 50px;
}

#turn{
    font-size: 30px;
    display: inline-block;
}

.cell:hover{
    background-color: #D3D3D3;
}
